<div class="bg-slate-100 w-full py-10">
    <h2 class="text-3xl text-[#32526E] text-center mb-5">¡Obtén los siguientes beneficios!</h2>
    <section class="flex flex-wrap justify-center gap-10 mt-12">
        <div class="bg-white rounded-lg shadow-md m-5 w-64 text-center p-5 transform transition-transform ">
            <img class="w-full mb-5" src="assets/images/undraw_modern_design_re_dlp8.svg" alt="">
            <div>
                <h3 class="text-lg text-[#32526E] mb-3">Registro y creación del perfil personal</h3>
                <p class="text-sm text-gray-600">Crea tu perfil personal para destacar tus logros, habilidades y aspiraciones. Esto te permitirá tener una presencia personalizada dentro de nuestra comunidad, facilitando el acceso a oportunidades adecuadas para ti.</p>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-md m-5 w-64 text-center p-5 transform transition-transform ">
            <img class="w-full mb-5" src="assets/images/undraw_join_re_w1lh.svg" alt="">
            <div>
                <h3 class="text-lg text-[#32526E] mb-3">Guardar oportunidades</h3>
                <p class="text-sm text-gray-600">Encuentra y guarda oportunidades relevantes que se alineen con tus intereses y metas académicas. De esta manera, podrás acceder fácilmente a ellas en el futuro y no perder ninguna oferta importante.</p>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-md m-5 w-64 text-center p-5 transform transition-transform ">
            <img class="w-full mb-5" src="assets/images/undraw_going_up_re_86kg.svg" alt="">
            <div>
                <h3 class="text-lg text-[#32526E] mb-3">Recomendaciones personalizadas</h3>
                <p class="text-sm text-gray-600">Recibe sugerencias específicas y adaptadas a tus necesidades y perfil. Nuestro sistema inteligente analizará tus intereses y te brindará recomendaciones que te ayudarán a aprovechar al máximo las oportunidades disponibles.</p>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-md m-5 w-64 text-center p-5 transform transition-transform ">
            <img class="w-full mb-5" src="assets/images/undraw_mobile_encryption_re_yw3o.svg" alt="">
            <div>
                <h3 class="text-lg text-[#32526E] mb-3">Contenido exclusivo</h3>
                <p class="text-sm text-gray-600">Accede a una variedad de recursos y materiales exclusivos, diseñados para apoyarte en tu camino académico y profesional. Estos incluyen guías, webinars, talleres y mucho más, todo pensado para ayudarte a tener éxito.</p>
            </div>
        </div>
    </section>
</div>
