@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem; 
    padding-top: 70px;
  }

  p {
    font-size: 1rem;
  }

  .portrait {
    height: auto;
  }
}

@media (min-width: 769px) {
  .portrait {
    height: 510px;
  }
}
