<div class="grid gap-4 md:grid-cols-2 md:items-center md:text-center">
  <div class="xl:ml-28">
    <h1 class="text-5xl font-bold text-[#1D1856] pt-16 mb-8 mt-20">¡Tu futuro inicia aquí!</h1>
    <p class="text-lg mb-2">En la Fundación Antivirus para la Deserción creemos que cada persona merece acceso a
      las mejores oportunidades. Por eso, ofrecemos una plataforma personalizada donde puedes explorar becas,
      cursos y programas adaptados a tus intereses y necesidades.</p>
    <div class="flex space-x-10 mt-8 justify-center">
      <a href="#footer"
        class="bg-yellow-500 text-white py-3 px-16 rounded hover:bg-[#32526E] xl:text-[16px] sm:space-x-5">Contáctanos</a>
      <a href="https://www.behance.net/gallery/167826187/Branding-de-agencia"
        class="bg-yellow-500 text-white py-3 px-8 rounded hover:bg-[#32526E] xl:text-[16px]" target="_blank">Conoce
        sobre nosotros</a>
    </div>
  </div>
  <div class="portrait w-full h-96 mt-8 justify-center items-center xl:h-[510px] xl:w-full xl:pr-40">
    <spline-viewer url="https://prod.spline.design/w1-lU03AK-Pryggi/scene.splinecode" class="relative"></spline-viewer>
  </div>
</div>
