<section class="mx-auto px-8 dark:bg-[#0f1629]">
  <div class="flex flex-wrap justify-center">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-16 max-w-screen-lg">
      <app-team-card
        imageSrc="assets/images/ourteam/1.png"
        altText="Team Section 1"
        name="CARLOS VASQUÉZ RESTREPO"
        [position]="'team.president' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/2.png"
        altText="Team Section 2"
        name="ASTRID FRANCO"
        [position]="'team.socialCoordinator' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/3.png"
        altText="Team Section 3"
        name="LUIS FERNANDO SANCHEZ"
        [position]="'team.director' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/4.png"
        altText="Team Section 4"
        name="KAREN GONZÁLEZ"
        [position]="'team.evaluationCoordinator' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/5.png"
        altText="Team Section 5"
        name="VÍCTOR MANUEL VALENCIA"
        [position]="'team.subdirector' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/6.png"
        altText="Team Section 6"
        name="JAZMÍN ALZATE"
        [position]="'team.alliancesCoordinator' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/7.png"
        altText="Team Section 7"
        name="DAVID SANTIAGO BOTERO"
        [position]="'team.legalCoordinator' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/8.png"
        altText="Team Section 8"
        name="DANIELA CORREA"
        [position]="'team.communicationsCoordinator' | transloco">
      </app-team-card>

      <app-team-card
        imageSrc="assets/images/ourteam/9.png"
        altText="Team Section 9"
        name="LUIS FERNANDO GONZÁLEZ"
        [position]="'team.administrativeCoordinator' | transloco">
      </app-team-card>
    </div>
  </div>
</section>
