<section class="container mx-auto p-6">
  <h2 class="text-2xl text-blue-900 font-bold text-center mb-6">¡Oportunidades para estudiar!</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white p-4 rounded shadow-md">
      <img src="assets/images/comfama.jpg" class="w-full h-48 object-cover rounded mb-4" alt="Ejemplo">
      <h5 class="text-xl font-semibold mb-2">Alianza empresarial</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque
        maxime dicta distinctio doloribus iste quis?</p>
    </div>
    <!-- Repite este bloque para las otras tarjetas -->
  </div>
</section>
