<section class="px-8 py-6 md:px-32 dark:bg-[#0f1629]">
  <h2 class="text-2xl text-blue-900 font-bold text-center mb-6 pt-10 pb-10 dark:text-[#12a6e8]">
    {{ 'studyChances.heading' | transloco }}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-20">
    <app-opportunity-card
      imageSrc="assets/images/Sapiencia-carrusel.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.sapienciaTitle' | transloco }}"
      description="{{ 'studyChances.sapienciaDescription' | transloco }}">
    </app-opportunity-card>

    <app-opportunity-card
      imageSrc="assets/images/comfama.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.comfamaTitle' | transloco }}"
      description="{{ 'studyChances.comfamaDescription' | transloco }}">
    </app-opportunity-card>

    <app-opportunity-card
      imageSrc="assets/images/Sapiencia-carrusel.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.sapienciaTitle' | transloco }}"
      description="{{ 'studyChances.sapienciaDescription' | transloco }}">
    </app-opportunity-card>

    <app-opportunity-card
      imageSrc="assets/images/comfama.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.comfamaTitle' | transloco }}"
      description="{{ 'studyChances.comfamaDescription' | transloco }}">
    </app-opportunity-card>

    <app-opportunity-card
      imageSrc="assets/images/Sapiencia-carrusel.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.sapienciaTitle' | transloco }}"
      description="{{ 'studyChances.sapienciaDescription' | transloco }}">
    </app-opportunity-card>

    <app-opportunity-card
      imageSrc="assets/images/comfama.jpg"
      imageAlt="Ejemplo"
      title="{{ 'studyChances.comfamaTitle' | transloco }}"
      description="{{ 'studyChances.comfamaDescription' | transloco }}">
    </app-opportunity-card>
  </div>
</section>