<section class="container mx-auto p-6">
  <h2 class="text-2xl text-blue-900 font-bold text-center mb-6">¡Oportunidades para estudiar!</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

<app-opportunity-card
  imageSrc="assets/images/comfama.jpg"
  imageAlt="Ejemplo"
  title="Alianza empresarial"
  description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nisi amet aliquid pariatur, eaque maxime dicta distinctio doloribus iste quis?">
</app-opportunity-card>

  </div>
</section>
