<section class="container mx-auto py-20 px-8">
  <div>
      <h1 class="text-center text-4xl justify-center flex items-center mb-[90px] font-bold text-[#1D1856] mt-20">SOBRE NUESTRO EQUIPO</h1>
  </div>
  <div class="flex flex-wrap justify-center">
      <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-16 max-w-screen-lg">
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/1.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">CARLOS VASQUÉZ RESTREPO</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Presidente</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/2.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">ASTRID FRANCO</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinadora Área Social</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/3.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">LUIS FERNANDO SANCHEZ</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Director</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/4.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">KAREN GONZÁLEZ</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinadora Área Evaluacion y Datos</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/5.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">VÍCTOR MANUEL VALENCIA</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Subdirector</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/6.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">JAZMÍN ALZATE</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinadora Alianzas y Cooperación</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/7.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">DAVID SANTIAGO BOTERO</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinador Área Legal</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/8.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">DANIELA CORREA</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinadora Área Comunicaciones</h4>
                  </div>
              </div>
          </div>
          <div class="shadow-lg rounded-lg relative overflow-hidden group">
              <img class="rounded-lg w-full" src="assets/images/ourteam/9.png" alt="Team Section">
              <div
                  class="absolute bg-yellow-400 bg-opacity-85 -translate-x-full rounded-lg top-0 left-0 w-full h-full flex items-center justify-center group-hover:translate-x-0 duration-500">
                  <div class="text-center">
                      <h3 class="text-white text-2xl font-bold mb-2">LUIS FERNANDO GONZÁLEZ</h3>
                      <h4 class="text-white text-lg font-normal mb-2">Coordinador Área Administrativa y Financiera</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>