<div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-12 dark:bg-[#0a0f1b]">
  <div class="column1">
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.changeTheory.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.changeTheory.description' | transloco }}</p>
    </div>
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.mission.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.mission.description' | transloco }}</p>
    </div>
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.vision.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.vision.description' | transloco }}</p>
    </div>
  </div>

  <div class="column1">
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.values.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.values.description' | transloco }}</p>
    </div>
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.purpose.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.purpose.description' | transloco }}</p>
    </div>
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.targetAudience.title' | transloco }}</h2>
      <p class="text-gray-700 dark:text-[#a8afc4]">{{ 'aboutUs.targetAudience.description' | transloco }}</p>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-12 dark:bg-[#0a0f1b]">
  <div class="column1">
    <div class="section mb-8">
      <h2 class="text-2xl font-bold text-[#1D1856] mb-4 dark:text-[#12a6e8]">{{ 'aboutUs.priorities.title' | transloco }}</h2>
      <ul class="list-disc ml-5 text-gray-700 dark:text-[#a8afc4]">
        <li>{{ 'aboutUs.priorities.item1' | transloco }}</li>
        <li>{{ 'aboutUs.priorities.item2' | transloco }}</li>
        <li>{{ 'aboutUs.priorities.item3' | transloco }}</li>
        <li>{{ 'aboutUs.priorities.item4' | transloco }}</li>
      </ul>
    </div>
  </div>
  <div class="column1">
    <div class="side">
      <img src="assets/images/image.jpeg" alt="Content Image" class="w-full rounded-lg shadow-lg mb-12">
    </div>
  </div>
</div>
