<nav class="flex items-center justify-between bg-gradient-to-b from-[#283E51] to-[#4B79A1] dark:bg-[#172a41] p-4 lg:px-20 w-full h-20 fixed top-0 z-50 shadow-lg sticky ">
  <div class="flex items-center space-x-5 pl-4 lg:pl-20 w-full justify-between md:justify-start">
    <a routerLink="home" routerLinkActive="active-link" class="text-white logo">
      <img src="assets/images/logo 2.png" alt="Antivirus Logo" class="h-16 md:h-20">
    </a>
    <ul class="hidden md:flex space-x-5 items-center" id="navegation">
      <li><a routerLink="/home" fragment="service" routerLinkActive="active-link" class="nav-link">{{ 'navbar.services' | transloco }}</a></li>
      <li><a routerLink="/home" fragment="opportunities" routerLinkActive="active-link" class="nav-link">{{ 'navbar.opportunities' | transloco }}</a></li>
      <li><a routerLink="/ourteam" routerLinkActive="active-link" class="nav-link">{{ 'navbar.aboutUs' | transloco }}</a></li>
      <li><a routerLink="/news" routerLinkActive="active-link" class="nav-link">{{ 'navbar.news' | transloco }}</a></li>
    </ul>
    <!-- Botón de menú hamburguesa para tablet/móvil -->
    <button class="md:hidden flex items-center" (click)="openModal()">
      <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <div class="hidden md:flex items-center space-x-8 pr-4 lg:relative">
    <div class="hidden md:flex space-x-5 mr-3 mt-2">
      <a id="btn-register" routerLink="register" routerLinkActive="active-link">
        <img src="assets/images/toggle_off_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="register" width="35px">
      </a>
      <div class="relative">
        <a id="btn-login" (click)="toggleDropdown()" class="cursor-pointer">
          <img src="assets/images/person_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="login" width="37px">
        </a>
        <div id="dropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-50">
          <ul class="py-1">
            <li>
              <a routerLink="login" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="toggleDropdown()">{{ 'navbar.login' | transloco }}</a>
            </li>
            <li>
              <a routerLink="register" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="toggleDropdown()">{{ 'navbar.register' | transloco }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="relative flex items-center">
      <input type="text" placeholder="{{ 'navbar.search' | transloco }}..." id="search-input" class="hidden h-[40px] w-[450px] rounded-[30px] bg-[#F5F5F520] text-white absolute right-[4px] top-[-8px] pl-5">
      <button class="bg-none border-none text-[20px] cursor-pointer relative right-[15px] top-[4px] focus:outline-none" (click)="toggleSearch()">
        <img src="assets/images/icons8-búsqueda-64 2.png" alt="search" width="28px">
      </button>
    </div>
  </div>
  <button (click)="toggleLanguage()" class="bg-none border-none text-white cursor-pointer ml-4 focus:outline-none lg:mt-1 lg:mx-0">
    {{ currentLanguage }}
  </button>
  <div class="relative ml-3 lg:ml-5 ">
    <div class="flex items-center ">
      <div *ngIf="(darkModeService.darkModeSignal() === 'dark'); else elseblock">
        <span (click)="toggleDarkMode()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-5 text-white">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
          </svg>
        </span>
      </div>
      <ng-template #elseblock>
        <span (click)="toggleDarkMode()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
          </svg>
        </span>
      </ng-template>
    </div>
  </div>
</nav>

<!-- Modal del menú hamburguesa -->
<div id="menu-modal" class=" hidden fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-lg w-3/4 md:w-1/3 p-6">
    <div class="flex justify-end">
      <button (click)="closeModal()" class="text-gray-700 hover:text-black focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <ul class="flex flex-col space-y-4 text-center mt-6" id="menu-options">
      <li><a (click)="closeModal()" routerLink="/home" fragment="service" routerLinkActive="active-link" class="nav-link-modal text-[#283E51] hover:text-[#4B79A1]">{{ 'navbar.services' | transloco }}</a></li>
      <li><a (click)="closeModal()" routerLink="/home" fragment="opportunities" routerLinkActive="active-link" class="nav-link-modal text-[#283E51] hover:text-[#4B79A1]">{{ 'navbar.opportunities' | transloco }}</a></li>
      <li><a (click)="closeModal()" routerLink="/ourteam" routerLinkActive="active-link" class="nav-link-modal text-[#283E51] hover:text-[#4B79A1]">{{ 'navbar.aboutUs' | transloco }}</a></li>
      <li><a (click)="closeModal()" routerLink="/news" routerLinkActive="active-link" class="nav-link-modal text-[#283E51] hover:text-[#4B79A1]">{{ 'navbar.news' | transloco }}</a></li>
      <li><a (click)="showSearchInModal()" class="nav-link-modal text-[#283E51] hover:text-[#4B79A1]">{{ 'navbar.search' | transloco }}</a></li>
      <div class="flex justify-between mt-8">
      <a routerLink="register" (click)="closeModal()" class="text-white bg-[#4B79A1] hover:bg-[#3A5A7F] px-4 py-2 rounded-lg mx-2">{{ 'navbar.login' | transloco }}</a>
      <a routerLink="login" (click)="closeModal()" class="text-white bg-[#4B79A1] hover:bg-[#3A5A7F] px-4 py-2 rounded-lg mx-2">{{ 'navbar.register' | transloco }}</a>
    </div>
    </ul>
    <div id="modal-search" class="hidden mt-6">
      <div class="relative">
        <h4>{{ 'navbar.search' | transloco }}</h4>
        <input type="text" placeholder="{{ 'navbar.search' | transloco }}..." id="modal-search-input" class="h-[45px] w-full rounded-[30px] bg-[#F5F5F520] text-black pl-5">
        <button class="bg-none border-none text-[20px] cursor-pointer absolute right-[15px] top-[10px] focus:outline-none">
          <img src="assets/images/icons8-búsqueda-64 2.png" alt="search" width="30px">
        </button>
      </div>
      <div class="flex justify-center mt-8">
        <button class="text-white bg-[#4B79A1] hover:bg-[#3A5A7F] px-4 py-2 rounded-lg">{{ 'navbar.send' | transloco }}</button>
      </div>
    </div>
  </div>
</div>
