<div class="container mx-auto p-4 py-40 ">
  <div>
      <h1 class="text-center text-4xl justify-center flex items-center mb-[50px] font-bold text-[#FDC80A]">¿QUIENES SOMOS?</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-8 mb-8">
      <div class="column1 grid-cols-1 flex-wrap">
          <h3 class="text-xl text-[#1D1856] font-semibold text-center">SOMOS UNA ORGANIZACIÓN SIN ÁNIMO DE LUCRO QUE</h3>
      </div>
      <div class="column1 grid-cols-2 flex-wrap text-center">
          <p class="text-gray-700">Busca disminuir los niveles de deserción estudiantil en Colombia, mejorar los niveles de permanencia y de graduación, siendo esta nuestra manera de aportar al logro de un país con más educación y consecuentemente con más desarrollo.</p>
      </div>

<app-team-section></app-team-section>
  </div>
</div>
