<div class="container mx-auto p-4">
  <div>
      <h1 class="text-center text-4xl justify-center flex items-center mb-[90px] font-bold text-[#FDC80A]">¿QUIENES SOMOS?</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-8 mb-8">
      <div class="column1 grid-cols-1 flex-wrap">
          <h3 class="text-xl text-[#1D1856] font-bold font-semibold text-center">SOMOS UNA ORGANIZACIÓN SIN ÁNIMO DE LUCRO QUE</h3>
      </div>
      <div class="column1 grid-cols-2 flex-wrap text-center">
          <p class="text-gray-700">Busca disminuir los niveles de deserción estudiantil en Colombia, mejorar los niveles de permanencia y de graduación, siendo esta nuestra manera de aportar al logro de un país con más educación y consecuentemente con más desarrollo.</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4 rounded-lg">
          <div class="box p-4 bg-[#32526E] text-white rounded-lg shadow-lg">
              <h2 class="text-xl font-bold mb-4">NUESTROS FUNDADORES</h2>
              <p>Carlos Vásquez Restrepo</p>
              <p>Paulina Tamayo Mejía</p>
              <p>Víctor Manuel Valencia Martínez</p>
              <p>Luis Fernando González Urán</p>
              <p>Andrea Jaramillo Ramírez</p>
              <p>Laura Calle Escobar</p>
              <p>León Felipe Hernández López</p>
              <p>Aida Orduz Quijano</p>
          </div>
          <div class="box p-4 bg-[#32526E] text-white rounded-lg shadow-lg">
              <h2 class="text-xl font-bold mb-4">NUESTRA JUNTA DIRECTIVA</h2>
              <p>Carlos Vásquez Restrepo - Presidente y Representante Legal Titular</p>
              <p>Luís Fernando Sánchez Hurtado - Vicepresidente / Director y Primer Representante Legal Suplente</p>
              <p>David Santiago Botero Rodríguez - Segundo Representante Legal Suplente / Coordinador Legal</p>
              <p>Víctor Manuel Valencia Martínez - Subdirector / Tercer Representante Legal Suplente</p>
              <p>Luis Fernando González Urán</p>
          </div>
          <div class="box p-4 bg-[#32526E] text-white rounded-lg shadow-lg">
              <h2 class="text-xl font-bold mb-4">NUESTRO REVISOR FISCAL</h2>
              <p>Orlando Gaviria Flórez</p>
          </div>
          <div class="box p-4 bg-[#32526E] text-white rounded-lg shadow-lg">
              <h2 class="text-xl font-bold mb-4">NUESTRA CONTADORA</h2>
              <p>María Verónica Ortiz Rodríguez</p>
          </div>
      </div>
  </div>
</div>
