<div class="flex justify-between mb-5 dark:bg-[#0f1629]">
    <button class="w-[48%] p-3 rounded-lg bg-[#4285f4] text-white font-bold flex items-center gap-2">
        <img src="https://img.icons8.com/3d-fluency/94/google-logo.png" alt="Google Logo" class="h-5">
        Ingresa con Google
    </button>
    <button class="w-[48%] p-3 rounded-lg bg-[#3b5998] text-white font-bold flex items-center gap-2">
        <img src="https://img.icons8.com/fluency/48/facebook-new.png" alt="Facebook Logo" class="h-5">
        Ingresa con Facebook
    </button>
</div>
