<section id="opportunities" class="py-20 bg-muted w-full dark:bg-[#0a0f1b]">
  <h2 class="text-3xl text-[#32526E] text-center mb-5 dark:text-[#a8afc4]">{{ 'opportunities.heading' | transloco }}</h2>
  <div class="flex justify-center flex-wrap gap-5">
    <app-opportunitie-card
      class="bg-card rounded-lg shadow-md sm:w-64 text-center p-5 transform transition-transform hover:scale-105 dark:bg-[#1d293b] dark:text-[#a8afc4]"
      link="https://es.nodoeafit.com/" 
      imageSrc="assets/images/nodo.png" 
      imageAlt="{{ 'opportunities.cards.nodoEafit.title' | transloco }}" 
      [title]="'opportunities.cards.nodoEafit.title' | transloco" 
      [description]="'opportunities.cards.nodoEafit.description' | transloco">
    </app-opportunitie-card>

    <app-opportunitie-card
      class="bg-card rounded-lg shadow-md sm:w-64 text-center p-5 transform transition-transform hover:scale-105 dark:bg-[#1d293b] dark:text-[#a8afc4]"
      link="https://velezreyesmas.com/" 
      imageSrc="assets/images/velez.png" 
      imageAlt="{{ 'opportunities.cards.velezReyes.title' | transloco }}" 
      [title]="'opportunities.cards.velezReyes.title' | transloco" 
      [description]="'opportunities.cards.velezReyes.description' | transloco">
    </app-opportunitie-card>

    <app-opportunitie-card
      class="bg-card rounded-lg shadow-md sm:w-64 text-center p-5 transform transition-transform hover:scale-105 dark:bg-[#1d293b] dark:text-[#a8afc4]"
      link="https://www.comfama.com/trabajo-con-proposito/empleo/centro-de-empleo-para-la-industria-digital/" 
      imageSrc="assets/images/comfama.jpg" 
      imageAlt="{{ 'opportunities.cards.comfama.title' | transloco }}" 
      [title]="'opportunities.cards.comfama.title' | transloco" 
      [description]="'opportunities.cards.comfama.description' | transloco">
    </app-opportunitie-card>
  </div>
</section>
