<footer id="footer" class="justify-between bg-[#172a41] dark:bg-black text-white py-10 flex flex-col items-center w-full">
    <!-- bg-gradient-to-b from-[#283E51] to-[#4B79A1] -->
    <div class="flex items-center space-x-5 mb-5">
        <img src="assets/images/logo 2.png" alt="Logo" class="h-20">
        <div class="text-center">
            <p>¿Quieres saber más de nosotros?</p>
            <p>Contáctanos hoy mismo.</p>

        </div>
    </div>
    <div class="flex space-x-5 mb-5">
        <a href="https://instagram.com/somosantivirus" target="_blank"><img src="assets/images/icons8-instagram-100.png"
                class="w-12 h-12 p-2  border-white hover:bg-yellow-500 hover:rounded-full"></a>
        <a href="https://wa.me/573217066273" target="_blank"><img src="assets/images/icons8-whatsapp-100 (1).png"
                class="w-12 h-12 p-2  border-white hover:bg-yellow-500 hover:rounded-full"></a>
        <a href="https://linkedin.com/in/somosantivirus" target="_blank"><img
                src="assets/images/icons8-linkedin-100.png"
                class="w-12 h-12 p-2  border-white hover:bg-yellow-500 hover:rounded-full"></a>
        <a href="https://www.tiktok.com/@somosantivirus" target="_blank"><img src="assets/images/icons8-tik-tok-100.png"
                class="w-12 h-12 p-2  border-white hover:bg-yellow-500 hover:rounded-full"></a>
        <a href="https://www.youtube.com/channel/UCCDsmMeIqSWGk_fh1m9FX0w" target="_blank"><img
                src="assets/images/icons8-youtube-100.png"
                class="w-12 h-12 p-2  border-white hover:bg-yellow-500 hover:rounded-full"></a>
    </div>
    <div class="text-center">

        <p>Banco de Oportunidades</p>
        <p>FUNDACIÓN ANTIVIRUS © 2024 - Todos los Derechos Reservados </p>
    </div>
</footer>